[Unit]
Description=Rustic user-level backup service

[Service]
Type=oneshot
Environment=SCRIPT_PATH=%h/.local/bin/rustic-backup.sh
ExecStart=/bin/bash -c "$SCRIPT_PATH"
